<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style="background-color: #282828;margin:10px">
    <div>
        <h1 style="color: white;">PM2 Web Monitor</h1>
        <table class="table table-dark">
            <tr>
                <th>ID</th>
                <th>PID</th>
                <th>NAME</th>
                <th>STATUS</th>
                <th>RESTARTS</th>
                <th>CPU</th>
                <th>MEMORY</th>
                <th>UPTIME</th>
            </tr>
            <% for (description of processDescriptionList) { %>
            <tr>
                <td><%= description.id %> </td>
                <td><%= description.pid %> </td>
                <td><%= description.name %> </td>
                <td style="color: <%= description.status == 'stopped' ? 'red' : 'green' %>">
                    <%= description.status %>
                </td>
                <td><%= description.restarts %> </td>
                <td><%= description.monit.cpu %> </td>
                <td><%= description.monit.memory %> </td>
                <td><%= description.uptime %> </td>
            </tr>
            <% } %>
        </table>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</html>